//css
.bg {
    background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.85) 100%
        ),
        url(../../assets/About.jpg) no-repeat center;
    background-size: cover;
}
.description {
    font-size: 18px;
}
@media only screen and (max-width: 768px) {
    .bg {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 0.85) 100%),
            url(../../assets/AboutPhone.jpg) no-repeat center;
    }
}
