<div class="bg">
    <app-phone-nav-menu (menuOn)="menuOn =$event"></app-phone-nav-menu>
    <div class="page-content" *ngIf="!menuOn">
        <div class="description">
            <p id="title">ABOUT</p>

            <p>Started sports at 5 and yoga in 2007 at the age of 13.In Feb 2012 I got injured losing the ability to
                walk.<br>
                I resumed my yoga ,I noticed I was getting better, with time I was able to walk and eventually even
                run.<br>
                As time went, I resumed sports and became a coach.
                <br><br>
                It was yoga that inspired me and helped me when doctors said I wouldn't walk again.
                Following these circumstances, I decided to teach what I learned to help others heal.<br>
                throughout my journey. I approach asanas in a holistic way combining Strength, balance and flexibility.
            </p>
        </div>
        <app-side-nav> </app-side-nav>
    </div>
    <app-phone-nav-menu-body [menuOn]="menuOn"></app-phone-nav-menu-body>

</div>