<div class="side-nav">
    <div id="logo-container">
        <a routerLink="">
            <img id="logo-image" routerLink="" src="../../assets/Adi Logo-03.png" alt="">
        </a>
    </div>
    <ul class="nav">
        <li ><a [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active" routerLink="/">HOME</a></li>
        <li ><a routerLinkActive="active" routerLink="/schedule">SCHEDULE</a></li>
        <li ><a routerLinkActive="active" routerLink="/about">ABOUT</a></li>
        <li ><a routerLinkActive="active" routerLink="/contact">CONTACT</a></li>
    </ul>
    <ul id="footer">
        <li><a href="https://www.instagram.com/aditheyogi/"><img src="../../../assets/iconmonstr-instagram-11.svg"
                    alt=""></a>
        </li>
        <li><a href="https://www.facebook.com/aditheyogi"><img src="../../../assets/iconmonstr-facebook-1.svg"
                    alt=""></a>
        </li>
    </ul>
</div>
