<div class="bg">
    <div class="page-content">
        <div class="description">
            <p id="title">CONTACT</p>
            <ul>
                <li>
                    <img src="../../assets/iconmonstr-phone-1.svg" alt="">
                    <a href="tel:+20 100 501 3894">+20 100 501 3894</a>
                </li>
                <li>
                    <img src="../../assets/iconmonstr-whatsapp-1.svg" alt="">
                    <a href="tel:+20 11 5755 4634">+20 100 501 3894</a>
                </li>
                <li>
                    <img src="../../assets/iconmonstr-email-1.svg" alt="">
                    <a href="mailto:youssef_aboualghar@hotmail.com">youssef_aboualghar&#8203;@hotmail.com</a>
                </li>
            </ul>

        </div>
        <app-side-nav> </app-side-nav>
    </div>
</div>