//adding screen sizes
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 370px;
//css
.bg {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.85) 100%
        ),
        url(../../assets/Contact.jpg) no-repeat center;
    background-size: cover;
}
.description {
    padding: 10px;
    text-align: left;
    color: #859eac;

    font-family: "century-gothic";
    font-size: 18px;
    ul {
        li {
            display: flex;
            img {
                max-width: 5%;
            }
            a {
                text-decoration: none;
                color: #859eac;
                margin: 10px;
            }
            a:hover {
                color: #9fb4b3;
            }
        }
    }
}
@media only screen and (max-width: $mobile) {
    .description {
        font-size: 16px;
    }
}
