header {
    display: none;
}
.phone-nav-menu {
    display: none;
}


.website-body {
    display: flex;
    justify-content: flex-end;
}
//sizing for phones
//adding screen sizes
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 340px;
@media only  screen and (max-width: $tablet) {
    .side-nav {
        display: none;
    }
    .phone-nav-menu {
        // background-color: rgba(255, 255, 255, 0.35);
        padding: 7px;
        height: 5vh;
        display: flex;
        justify-content: space-between;
        .logo-container {
            #logo-image {
                height: 40px;
                max-width: 100%;
            }
        }
        .nav-container {
            border: none;
            background-color: transparent;
            #nav-image {
                height: 25px;

                max-width: 100%;
            }
        }
    }
    .website-body {
        justify-content: center;
        #logo-container {
            display: none;
        }
    }
    .menu-body {
        width: 100vw;
        height: 80vh;
        background-color: rgba(255, 255, 255, 0.35);
        display: flex;
        justify-content: center;

        .phone-nav {
            // height: 100%;
            // width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            li {
                list-style: none;
                padding-right: 50px;
                a {
                    text-decoration: none;
                    font-family: "verdana";
                    font-size: 30px;
                    color: #859EAC;
                }
                a:hover {
                    color: #9fb4b3;
                }
            }
            .active {
                a {
                    color: #2a5252;
                }
            }
        }
    }
}
