
<!-- 

<div class="phone-nav-menu" >
    <div class="logo-container">
        <img id="logo-image" src="../assets/Adi Logo-03.png" alt="">
    </div> 
    <button class="nav-container" (click)="menuOn = !menuOn">
        <img id="nav-image" src="../assets/icons8-menu.svg" alt="">
    </button> 
</div>
<div class="website-body" *ngIf="!menuOn">
    <div class="writing-space">
        <div class="description-container"> -->
            <router-outlet
             *ngIf="!menuOn"
             ></router-outlet>
        <!-- </div>
    </div>


</div>
<div class="menu-body" *ngIf="menuOn">
    <ul class="phone-nav">
        <li [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active"><a (click)="menuOn = !menuOn" routerLink="">HOME</a></li>
        <li routerLinkActive="active"><a (click)="menuOn = !menuOn" routerLink="schedule">SCHEDULE</a></li>
        <li routerLinkActive="active"><a (click)="menuOn = !menuOn" routerLink="about">ABOUT</a></li>
        <li routerLinkActive="active"><a (click)="menuOn = !menuOn" routerLink="contact">CONTACT</a></li>
    </ul>
</div>

<footer>
   
</footer> -->