<div class="bg">
    <div class="page-content">
        <div class="description">
            <p id="title">SCHEDULE</p>
            <br>
            <ul>
                <p id="subtitle">Osana</p>
                <li>
                    <p>Monday </p>
                    <p>Ashtanga Vinyasa(led) </p>
                    <p>7:15 AM</p><a href="http://www.osanawellness.com/schedule/">BOOK</a>
                </li>
                <li>
                    <p>Saturday </p>
                    <p>Ashtanga Vinyasa(led) </p>
                    <p>7:45 PM</p><a href="http://www.osanawellness.com/schedule/">BOOK</a>
                </li>
            </ul>
            <ul>
                <p id="subtitle">Flexana</p>
                <li>
                    <p>Saturday </p>
                    <p>Ashtanga Vinyasa(Mysore) </p>
                    <p>5:00 PM</p><a href="http://flexanaegypt.com/">BOOK</a>
                </li>
            </ul>
            <ul>
                <p id="subtitle">Brass Monkeys</p>
                <li>
                    <p>Monday </p>
                    <p>Backbending& healthy spine </p>
                    <p>9:30 PM</p><a href="https://www.instagram.com/brassmonkeysstudios/">BOOK</a>
                </li>
            </ul>
            <p id="title">PROGRAMS</p>
            <br>
            <ul>
                <p id="subtitle">Ananda Community</p>
                <li>
                    <p>Monday </p>
                    <p>Ashtanga Vinyasa(Mysore) </p>
                    <p>7:00 PM</p><a href="https://www.instagram.com/ananda.community/">BOOK</a>
                </li>
                <li>
                    <p>Friday </p>
                    <p>Ashtanga Vinyasa(Led) </p>
                    <p>12:30 PM</p><a href="https://www.instagram.com/ananda.community/">BOOK</a>
                </li>
                <li>
                    <p>Saturady </p>
                    <p>Ashtanga Vinyasa(Led) </p>
                    <p>12:30 PM</p><a href="https://www.instagram.com/ananda.community/">BOOK</a>
                </li>
            </ul>
        </div>
        <app-side-nav> </app-side-nav>
    </div>
</div>