/* You can add global styles to this file, and also import other style files */
//adding fonts
@font-face {
    font-family: century-gothic;
    src: url(assets/fonts/GOTHIC.TTF) format("opentype");
}
@font-face {
    font-family: oswald;
    src: url(assets/fonts/Oswald-Regular.ttf) format("opentype");
}
@font-face {
    font-family: verdana;
    src: url(assets/fonts/verdana.ttf) format("opentype");
}
//styles
html,
body {
    margin: 0;
}
//custom scroll bar
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    // background: #3f7372;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
//global styles
.bg{
    width: 100vw;
    height: 100vh;
}
//manage page parts: side nav and website body
.page-content {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
}
.description {
    padding: 5px 10px 5px 10px;

    width: 600px;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #859eac;
    font-family: "century-gothic";
    text-align: left;
    font-size: 12px;
    #title {
        font-family: "oswald";
        font-size: 35px;
        margin: 0px 0px 0px 0px;
        text-align: center;
        color: #859eac;
    }
}
//sizing for phones
app-phone-nav-menu {
    display: none;
}
@media only screen and (max-width: 768px) {
    app-phone-nav-menu {
        display: block;
    }
    app-side-nav {
        display: none;
    }
}
