//adding screen sizes
$desktop: 960px;
$tablet: 768px;
$mobile-large: 640px;
$mobile: 480px;
$mobile-small: 340px;
//css
.bg {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8) 45%,
            rgba(255, 255, 255, 0.85) 100%
        ),
        url(../../assets/Home.jpg) no-repeat center;
    background-size: cover;
}
.description {
    // height: 100%;
  
    #buttons {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        a {
            text-decoration: none;
            color: #859eac;

            p {
                margin: 0;
                font-family: "oswald";
                font-size: 60px;
                text-align: center;
            }
        }
        a:hover {
            color: #3f7372;
        }
    }
}
