<div class="bg">
    <app-phone-nav-menu (menuOn)="menuOn =$event"></app-phone-nav-menu>
    <div class="page-content" *ngIf="!menuOn">
        <div class="description">
            <div id="buttons">
                <a routerLink="schedule">
                    <p>JOIN<br>CLASS</p>
                </a>
                <a routerLink="contact">
                    <p>PRIVATE<br>SESSION</p>
                </a>
            </div>
        </div>
        <app-side-nav> </app-side-nav>
    </div>
    <app-phone-nav-menu-body [menuOn]="menuOn"></app-phone-nav-menu-body>
</div>